<mat-card>
  <mat-card-header>
    <mat-card-title>
      List Post
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <div mat-subheader>List-post works!</div>
      @for (post of posts$ | async; track post) {
        <mat-list-item>
          <mat-icon matListItemIcon>folder</mat-icon>
          <div matListItemTitle>{{ post.title }}</div>
          <div matListItemLine>{{ post.body }}</div>
        </mat-list-item>
        <mat-divider></mat-divider>
      }
    </mat-list>
  </mat-card-content>
</mat-card>

